body {
    font-family: "Didact Gothic", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
    /* Set the background image */
    background-image: url('/static/images/background.jpeg'); /* Path to your image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
}

h1, h2 {
    color: #333;
}


input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%
    
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #004494;
}


.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

#timer {
    margin-top: 20px;
    font-size: 1.2em;
    color: #d35400;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}


.results-container {
    background-color: #ffffff; /* White background */
    max-width: 500px; /* Adjust width as needed */
    margin: 0 auto; /* Center the box */
    text-align: center; /* Center the text inside the box */
}

/* Optional: Further customization for button */
button.btn {
    width: 100%; /* Full width button */
    margin-top: 20px; /* Space above the button */
}

.card {
    /* Your existing card styles */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Ensure the card doesn't take full width */
    width:30%;
    margin-top: 20px; /* Optional, adjust as needed */
}

.card-title{
    padding-bottom: 15px;
}

.card-subtitle{
    padding-bottom: 15px;
}


.form-control {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px; /* Adjust width as per your layout */
}

.btn-primary {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #004494;
}

#timer {
    margin-top: 20px;
    font-size: 1.2em;
    color: #d35400;
}
